# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Data & Models (Large Files)
# *.pkl (Commented out to allow model upload for Render)
*.csv
# Keep predictive_maintenance.csv if it's small enough, but usually data is ignored. 
# However, for this demo project, we might want to keep the CSV if it's < 100MB.
# predictive_maintenance.csv

# Logs
*.log

# Node.js
node_modules/
dist/
coverage/

# IDEs
.vscode/
.idea/
